<div
  class="profile"
  role="img"
  aria-label="<%= `${locals.username || 'Annonymous'} profile` %>"
  style="background-color: <%= locals.profile_color || '#000'%>"
>
  <span class="profile__emoji">
    <%= locals.profile_emoji || '🙂' %>
  </span>
</div>