<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'BÌ¸ÌÌÍ ÍœÍ•Ì¤Ì¤Ì¡Ì³eÌ¶Ì¿ÌŒÌÌ•Ì½Ì”Ì¹ÍÍ“cÌµÌ€ÌˆÍ„Ì€Í‹Ì–Ì Ì¦Ì¡Ì»ÌªoÌ·ÌƒÌ‹ÌˆÍšÌ˜mÌµÌ•Í–Ì©ÌŸeÌ·ÍÍÌŠÌ‰ÌºÌ» ÌµÌ†Í—Ì‰Ì„Í”Ì®Ì¯Ì£Ì»AÌ¶ÌšÍ€ÌšÍ–dÌ´ÌƒÌ‹Ì¾Ì†Ì¼Í‡Ì£mÌ·Ì…Ì³Í–iÌµÌ¿Í—ÌŠÌ½ÍŒÌœÌÌ£ÌœÌ©Í‰nÌ·Í‘Ì©'}) %>
<body>
  <%- include('partials/header') %>
  <main>
    <div class="wrapper">
      <h1 class="title-one">You should not be here</h1>
      <p class="paragraph--centralized">
        This place is only for <span class="accent">aÌµÍÍÌ°Ì¡dÌ¶ÌÍ„Ì ÍœmÌµÍ„Ì•Ì«Ì«iÌµÍŠÌ‡ÌªÌ³nÌµÌ“Ì„Ì©sÌ´Ì›ÍÌœ</span> and you should leave now.
      </p>
      <p class="paragraph--centralized">
        ê–ğ™¹âˆ·á’·á’² â•!Â¡á“­âšm â†¸olor siâ„¸ Ì£ á”‘met, á“µoãƒªsectetur adipiscinâŠ£ elit. â•ãƒªâ„¸ Ì£á’·âŠ£eâˆ· á“­eá’²!Â¡er á”‘ê–iá‘‘âšam laá“µus ut pğ™¹rttitor. â†¸ğ™¹ãƒªá’·á“µ ê–oÊ–oâˆ·â„¸ Ì£â•á“­ iá’²!Â¡erdiet eleiâ“end. á’·â„¸ Ì£â•á”‘á’² iãƒª eá“­t â†¸iâŠ£nissim, âŠaâˆ·iâšs nuê–la eget, auá“µtğ™¹r liÊ–ero. ãƒªá”‘á’² á“­â•â„¸ Ì£ amá’·t inteâˆ·â†¸âšm ê–eá“µtus. á’·â„¸ Ì£â•á”‘á’² aâšâŠ£ue ê–aá“µuá“­, aliá‘‘uet seâ†¸ Ê–ibeãƒªdum et, inteâˆ·dum sit amet âŠelit. á‘‘âšâ•á“­quá’· iâ†¸ ãƒªuná“µ id á”‘uâŠ£ue á’²aê–esuada maÌ‡/imus. !Â¡â‘á”‘á“­á’·ê–lâšs â„¸ Ì£âˆ·â•stiá‘‘ue elit susá“µipit liÊ–erğ™¹ ullaá’²corper, ãƒªon eleiâ“enâ†¸ neque tincidunt. ãƒªâšê–lá”‘ â“aá“µâ•liá“­i. á’²á”‘á’·á“µeãƒªaá“­ âŠeâ‘â•câšê–a á‘‘uis sa!Â¡ien siâ„¸ Ì£ amet sceleâˆ·isque. ãƒªá”‘á’² nğ™¹n â„¸ Ì£oâˆ·tor á’·nâ•m.985865568ãƒªá’·Wê–â•NETğ™¹ê–ŒEN98758659 
        â•ãƒªâ„¸ Ì£á’·âŠ£eâˆ· in ê–ğ™¹reá’² á”‘á“µ nâšlla á“­agittis elementum at et â‹®usto. â†¸ğ™¹ãƒªá’·á“µ â•n âšê–â„¸ Ì£âˆ·icieá“­ á’²etus. á‘‘âšâ•á“­quá’· âŠeê– á’²i ğ™¹âˆ·á“µi. â“âšá“­á“µá’· â„¸ Ì£eá’²!Â¡ğ™¹âˆ· á”‘t urãƒªa non puê–âŠâ•nar. âšâ„¸ Ì£ âŠá’·ê– á“­ğ™¹llâ•á“µituâ†¸iãƒª diá”‘á’², sit amet sem!Â¡eâˆ· niÊ–â‘. á“­á’·â†¸ Ê–ê–á”‘ãƒªdâ•â„¸ Ì£, á’²aâšâˆ·is ut mğ™¹lestie malesuada, tellus nisi á“µondimentum tortor, et consectetur neá‘‘ue nunc in sa!Â¡ien. á“­á’·â†¸ !Â¡ğ™¹âˆ·â„¸ Ì£tâ•tor Ê–ê–á”‘ãƒªdit ante neá“µ âŠ£raâŠida. 
      </p>
      <form class="form box flex--column" action="/user/activate-admin" method="post">
        <div class="input-wrapper">
          <label class="input-wrapper__label" for="code">Secret code:</label>
          <input class="input-wrapper__input" type="text" name="code" id="code">
          <p class="input-wrapper__error"><%= locals.error %></p>
        </div>
        <button class="button" type="submit">Submit</button>
      </form>
      <p class="paragraph--centralized small-text">
        Yes, it's enchanting table language above...
      </p>
    </div>
  </main>
  <%- include('partials/footer') %>
</body>
</html>