<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Membership'}) %>
<body>
  <%- include('partials/header') %>
  <form method="POST" action="/user/membership">
    <label for="code">Enter secret code:</label>
    <input type="text" name="code" id="code">
    <p><%= locals.error %></p>
    <button type="submit">Submit</button>
  </form>
</body>
</html>