<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'B̸̡͕̤̤̳̍̎͜͠e̶̹͍͓̿̌́̽̔̕c̵̡̖̠̦̻̪̀̈̈́̀͋õ̷͚̘̋̈m̵͖̩̟̕e̷̺̻͐͐̊̉ ̵͔̮̯̣̻̆͗̉̄À̶͖̚̚d̴̼͇̣̃̋̾̆m̷̳͖̅i̵̜̞̣̜̩͉̿͗̊̽͌n̷̩͑'}) %>
<body>
  <%- include('partials/header') %>
  <form method="POST" action="/user/activate-admin">
    <label for="code">Enter secret code:</label>
    <input type="text" name="code" id="code">
    <p><%= locals.error %></p>
    <button type="submit">Submit</button>
  </form>
  <%- include('partials/footer') %>
</body>
</html>