<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>First page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header><%= locals.user?.username || 'no user' %></header>
    <p>member: <%= locals.user?.is_member ?? 'no user' %></p>
    <p>admin: <%= locals.user?.is_admin ?? 'no user' %></p>
    <form method="POST" action="/user/logout">
      <button type="submit">Logout</button>
    </form>
    <p><%= locals.message %></p>
  </body>
</html>
