<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Not Found'}) %>
<body>
  <%- include('partials/header') %>
  <main>
    <div class="wrapper">
      <div class="not-found-content">
        <h1 class="title-one">Not Found</h1>
        <img class="not-found-content__gif" src="/cat-jump.gif" alt="Cat fails to jump to balcony">
        <p class="paragraph--centralized">
          <%= error.message %>
        </p>
        <a href="/" class="link--button">Back to home</a>
      </div>
    </div>
  </main>
  <%- include('partials/footer') %>
</body>
</html>