<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Only Members | Posts</title>
</head>
<body>
  <p><%= locals.message %></p>
  <% posts.forEach((post) => { %>
    <article>
      <h2><%= post.title %></h2>
      <p><%= post.message %></p>
      <p>Creator: <%= post.created_by %></p>
    </article>
  <% }) %>
</body>
</html>