<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Only Members | New Post</title>
</head>
<body>
  <%- include('partials/header') %>
  <form method="POST" action="/new-post">
    <% if (locals.formErrors) { %>
      <ul>
        <% formErrors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>

    <label for="title">Title</label>
    <input
      type="text"
      name="title"
      id="title"
      maxlength="100"
      value=<%= locals.formValues?.title || '' %>
    >

    <label for="message">Message</label>
    <textarea name="message" id="message" maxlength="400"><%= locals.formValues?.message || '' %></textarea>

    <button type="submit">Submit</button>
  </form>
</body>
</html>