<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Only Members | Posts</title>
</head>
<body>
  <%- include('partials/header') %>
  <p><%= locals.message %></p>
  <% posts.forEach((post) => { %>
    <%- include('partials/post', { post }) %>
  <% }) %>
  <script src="/script.js"></script>
</body>
</html>