<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Account Settings'}) %>
<body>
  <%- include('partials/header') %>
  <p>Welcome <%= locals.user.username %></p>
  <p>Account status: 
    <% if (locals.user.is_admin) { %>
      <span>Admin</span>
    <% } else if (locals.user.is_member) { %>
      <span>Member</span>
    <% } else { %>
      <span>Not member</span>
    <% } %>
  </p>
  <% if (!locals.user.is_member) { %>
    <a href="/user/membership">Become a member</a>
  <% } %>
  <form action="/user/logout" method="post"><button type="submit">Logout</button></form>
</body>
</html>