:root {
  --neutral-50: hsl(0, 0%, 99%);
  --neutral-100: hsl(0, 0%, 90%);
  --neutral-200: hsl(0, 0%, 81%);
  --neutral-300: hsl(0, 0%, 72%);
  --neutral-400: hsl(0, 0%, 63%);
  --neutral-500: hsl(0, 0%, 54%);
  --neutral-600: hsl(0, 0%, 45%);
  --neutral-700: hsl(0, 0%, 36%);
  --neutral-800: hsl(0, 0%, 27%);
  --neutral-900: hsl(0, 0%, 18%);
  --neutral-950: hsl(0, 0%, 9%);
  --neutral-1000: hsl(0, 0%, 0%);
  --yellow-50: hsl(60, 100%, 99%);
  --yellow-100: hsl(60, 100%, 90%);
  --yellow-200: hsl(60, 100%, 81%);
  --yellow-300: hsl(60, 100%, 72%);
  --yellow-400: hsl(60, 100%, 63%);
  --yellow-500: hsl(60, 100%, 54%);
  --yellow-600: hsl(60, 100%, 45%);
  --yellow-700: hsl(60, 100%, 36%);
  --yellow-800: hsl(60, 100%, 27%);
  --yellow-900: hsl(60, 100%, 18%);
  --yellow-950: hsl(60, 100%, 9%);
  --yellow-1000: hsl(60, 100%, 0%);
  --success-light: hsl(100, 80%, 80%);
  --success-dark: hsl(100, 90%, 15%);
  --error-light: hsl(0, 60%, 80%);
  --error-dark: hsl(0, 60%, 40%);
  --text-xs: clamp(0.75rem, 0.875vw, 1.5rem);
  --text-sm: clamp(0.875rem, 1vw, 1.75rem);
  --text-normal: clamp(1rem, 1.25vw, 2rem);
  --text-lg: clamp(1.125rem, 1.75vw, 2.25rem);
  --text-xl: clamp(1.25rem, 2vw, 2.5rem);
  --text-2xl: clamp(1.5rem, 2.25vw, 3rem);
  --text-3xl: clamp(1.875rem, 2.5vw, 3.5rem);
  --text-4xl: clamp(2.25rem, 3vw, 4.5rem);
  --text-5xl: clamp(3rem, 4vw, 6rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--neutral-900);
  display: flex;
  flex-direction: column;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  margin: 0;
  min-height: 100vh;
}

/* Utility */
.visually-hidden {
  position: absolute;
  left: -9999px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1800px;
  width: 80%;
}

/* Minor components */
.link--inline {
  background-color: transparent;
  border: none;
  color: var(--yellow-100);
  cursor: pointer;
  font-size: var(--text-sm);
  padding: 0;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--yellow-500);
  }

  &:active {
    color: var(--neutral-100);
    text-decoration: underline;
  }
}

.link--button {
  background-color: var(--yellow-200);
  border: none;
  border-radius: 0.25em;
  color: var(--neutral-900);
  cursor: pointer;
  font-size: var(--text-sm);
  padding: 0.2em 0.5em;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: var(--yellow-500);
  }

  &:active {
    background-color: var(--neutral-100);
  }
}

.link--icon {
  background-color: transparent;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;

  svg {
    width: var(--text-lg);
  }

  path {
    fill: var(--yellow-100);
  }

  &:hover path,
  &:focus path {
    fill: var(--yellow-400);
  }

  &:active path {
    fill: var(--yellow-200);
  }
}

.button {
  background-color: var(--yellow-200);
  border: none;
  border-radius: 0.25em;
  color: var(--neutral-900);
  cursor: pointer;
  font-size: var(--text-sm);
  padding: 0.2em 0.5em;

  &:hover,
  &:focus {
    background-color: var(--yellow-500);
  }

  &:active {
    background-color: var(--neutral-100);
  }
}

.title-one {
  color: var(--neutral-100);
  font-size: var(--text-3xl);
  text-align: center;
}

.title-two {
  color: var(--neutral-100);
  font-size: var(--text-lg);
  font-weight: normal;
}

.paragraph {
  color: var(--neutral-200);
  font-size: var(--text-sm);
}

.paragraph--centralized {
  color: var(--neutral-200);
  font-size: var(--text-sm);
  text-align: center;
}

.no-spacing {
  margin: 0;
  padding: 0;
}

.small-text {
  font-size: var(--text-xs);
}

.accent {
  color: var(--yellow-200);
}

.blur {
  filter: blur(0.2em);
}

.box {
  background-color: var(--neutral-800);
  padding: 1rem;
}

.box--transparent {
  padding: 1rem;
}

.flex--row {
  display: flex;
  gap: 1rem;
}

.flex--column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form {
  gap: 1.5rem;
  margin: 1rem auto;
  width: min(100%, 50ch);
}

/* Major components */
.message-box {
  margin: 1rem auto;
  min-width: 50%;
  padding: 0.5em 1em;
  text-align: center;
  width: fit-content;

  &.success {
    background-color: var(--success-dark);
  }

  &.alert {
    background-color: var(--yellow-900);
  }

  &.failure {
    background-color: var(--error-dark);
  }
}

.posts {
  margin: 0 auto 5rem;
  max-width: max(80%, 500px);
}

.post {
  background-color: var(--neutral-800);
  margin-bottom: 1rem;
}

.post__header {
  align-items: center;
  background-color: var(--neutral-700);
  display: flex;
  padding: 0.5rem;
}

.post__profile {
  margin: -0.25rem 0.5rem -0.25rem -0.25rem;
}

.post__username {
  color: var(--neutral-100);
  font-size: var(--text-normal);
}

.post__date {
  color: var(--yellow-100);
}

.post__controller {
  margin-left: auto;
}

.post__body {
  padding: 0.75rem 0.5rem;
}

.post__title {
  margin-bottom: 0.5em;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-wrapper__label {
  color: var(--neutral-100);
  font-size: var(--text-sm);
}

.input-wrapper__input {
  background-color: var(--neutral-700);
  border: none;
  color: var(--neutral-100);
  font-size: var(--text-sm);
  outline: 1px solid var(--neutral-500);
  padding: 0.25em 0.5em;

  &:invalid {
    outline: 1px solid var(--error-light);
  }

  &:hover {
    outline: none;
  }

  &:focus {
    outline: 1px solid var(--yellow-500);
  }
}

.input-wrapper__error {
  color: var(--error-light);
  font-size: var(--text-sm);
  margin: 0;
}

.search {
  background-color: var(--neutral-700);
  padding: 0.5rem;
}

.search__content {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.search__icon {
  transform: translateX(2em);
  width: 1em;

  path {
    fill: var(--neutral-200);
  }
}

.search__label {
  position: absolute;
  left: -9999px;
}

.search__input {
  background-color: var(--neutral-800);
  border: none;
  border-radius: 0.25em;
  color: var(--neutral-100);
  font-size: var(--text-sm);
  min-width: 50%;
  padding: 0.25em 1em 0.25em 2em;

  &:hover {
    outline: 1px solid var(--neutral-500);
  }

  &:focus {
    outline: 1px solid var(--yellow-500);
  }

  &::after {
    content: 'aaaaaaaaa';
  }
}

.search__button {
  background-color: var(--yellow-200);
  border: none;
  border-radius: 0.25em;
  color: var(--neutral-900);
  cursor: pointer;
  font-size: var(--text-sm);
  padding: 0.2em 0.5em;

  &:hover,
  &:focus {
    background-color: var(--yellow-500);
  }

  &:active {
    background-color: var(--neutral-100);
  }
}

.pagination {
  background-color: var(--neutral-700);
  padding: 0.5rem;
}

.pagination__list {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination__link {
  --primary-color: var(--yellow-100);
  --focus-color: var(--yellow-500);
  --active-color: var(--neutral-100);
  --disabled-color: var(--neutral-500);

  background-color: transparent;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  fill: var(--primary-color);
  font-size: var(--text-normal);
  text-decoration: none;

  svg {
    display: block;
    fill: inherit;
    width: var(--text-lg);

    > path {
      fill: inherit;
    }
  }

  &:hover,
  &:focus,
  &.selected {
    color: var(--focus-color);
    fill: var(--focus-color);
  }

  &:active {
    color: var(--active-color);
    fill: var(--active-color);
    text-decoration: underline;
  }

  &[aria-disabled='true'] {
    color: var(--disabled-color);
    fill: var(--disabled-color);
    pointer-events: none;
  }
}

.emoji-picker {
  --background: var(--neutral-800);
  --border-color: var(--neutral-300);
  --emoji-padding: 0.5rem;
  --emoji-size: var(--text-normal);
  height: 300px;
  max-width: 100%;
  width: min(100%, 320px);
}

@media screen and (max-width: 420px) {
  .emoji-picker {
    --emoji-padding: 0.25rem;
  }
}

.profile {
  align-items: center;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: var(--text-3xl);
}

.profile__emoji {
  cursor: default;
  display: block;
  font-size: var(--text-normal);

  &::selection,
  &::-moz-selection {
    color: none;
  }
}

/* Header */
.header {
  background-color: var(--neutral-800);
}

.header__content {
  align-items: center;
  display: flex;
}

.header__logo {
  --first-color: var(--neutral-100);
  --second-color: var(--yellow-400);

  font-size: var(--text-lg);
  text-decoration: none;

  .logo__members {
    color: var(--first-color);
    transition: color 0.7s ease-in-out;
  }

  .logo__only {
    color: var(--second-color);
    transition: color 0.7s ease-in-out;
  }

  &:hover,
  &:focus {
    --first-color: var(--yellow-400);
    --second-color: var(--neutral-100);
  }
}

.header__nav {
  margin-left: auto;

  ul {
    display: flex;
    gap: 0.75rem;
    list-style: none;
    padding: 0;
  }
}

/* Footer */
.footer {
  background-color: var(--neutral-800);
  margin-top: auto;
}

.footer__content {
  padding: 0.75rem 0;
  text-align: center;
}

.footer__nav {
  margin-top: 1rem;

  ul {
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

/* Page related styles */
.posts-page-content {
  display: grid;
  flex: 1;
  grid-template-rows: auto 1fr auto;
}

.user-page-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.user-page-content__general {
  flex: 1 1 400px;
  padding-top: 0;
}

.user-page-content__posts {
  border: 2px solid var(--neutral-800);
  flex: 1 1 400px;
  padding-top: 0;
}

.not-found-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}

.not-found-content__gif {
  max-width: 100%;
  min-width: 50%;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1rem auto 5rem;
  width: min(100%, 80ch);
}

.register-form__content {
  display: flex;
  flex-wrap: wrap;
}

.register-form__fieldset {
  border-color: var(--neutral-600);
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
}

.register-form__legend {
  color: var(--neutral-200);
  margin-bottom: 1rem;
}
